<div class='card'>
  <div class='card__header'>
    <h3 class='card__title'>
      {{data.message}}
    </h3>
    <h3 class='card__subbtitle'>{{data.info}}</h3>
  </div>
  <a
    href='{{data.link}}'
    class='card__button card__button--blue'
  >Return</a>
</div>