<body>
  <h1 class='text-primary'>Product List</h1>
  <ul>
    {{#each products}}
      <li>
        <h2>{{this.name}}</h2>
        <p>Price: {{this.price}}</p>
        <p>Description: {{this.description}}</p>
        <a href='/product-edit?id={{this.id}}'>Edit</a>
      </li>
    {{/each}}
  </ul>
  <a href='/product-create'>Create New Product</a>
</body>