<body>
  <h1 class='text-primary'>Product List</h1>
  <ul>
    {{#each products}}
      <div class="col-md-4">
        {{>product-card name=this.name price=this.price description=this.description id=this.id}}
      </div>
    {{/each}}
  </ul>
  <a href='/product-create'>Create New Product</a>
</body>